<style>

    h1 {
    background-color: #85C1E9;
}

    h3 {
    background-color: AliceBlue;
}

    h2 {
    background-color: #D6EAF8;
}

    ul {
    margin: 0;
}

    footer {
    background-color: #7F8C8D;
}


</style>

{# Load the tag library #}

{# Load CSS and JavaScript #}

{# Display django.contrib.messages as Bootstrap alerts #}



<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<title>PUMA</title>

<meta name="viewport" content="width=device-width, initial-scale=1">

<style>
* {box-sizing: border-box;}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.header {
  overflow: hidden;
  background-color: #85C1E9;
  padding: 20px 10px;
}

.header a {
  float: left;
  color: black;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  line-height: 25px;
  border-radius: 4px;
}

.header a.logo {
  font-size: 25px;
  font-weight: bold;
}

.header a:hover {
  background-color: #ddd;
  color: black;
}

.header a.active {
  background-color: dodgerblue;
  color: white;
}

.header-right {
  float: right;
}

@media screen and (max-width: 500px) {
  .header a {
    float: none;
    display: block;
    text-align: left;
  }
  .header-right {
    float: none;
  }
}

footer{
    background-color: lightgrey;
    padding: 20px;
    border: 20px lightgrey;
    margin: 20px;
    border-radius: 15px;

    font-size: 1em;
    text-align: left;
    font-weight: bold;
}

/* The side navigation menu */
.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #111; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
    color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
    transition: margin-left .5s;
    padding: 20px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}

.title{
    width:78%;
    margin-right:2%;
    float: left;
}

.mimg {
    width:18%;
    margin-right:2%;
    float: left;
}
.clearfix{
    clear:both
}

</style>
<body>


    <div class="header" >
        <div class="title">
            <a href="/" class="logo" style="width:100%">Pipeline for Unifying Microbiome Analysis (PUMA)</a>
        </div>

        <!--<div class="mimg" align="right">-->
            <!--<a href="https://www.mimg.ucla.edu/"><img src="https://lh3.googleusercontent.com/AuqWvc7I_afQJcCrsY0AOf4ziUe1Rs5eZt8xX8XR0VxsRkfp9iFFLzQrlVkDg8-kzIBj6TtCHagyULIQZwLOpTknLauYS3Z5EnkGB4C0RfRKZ5iefA1fB1NoRVuz5c7w0KQyO4nCvJC7jqacz0Ptp3I2YlngEwwNIbKIMn27cM3TyhWUeBfza8A3qxWhgmIPwvVyRhIWHTuBlAWjeEy85POGChq2Iu-imuMchhSiFrwP1Z4lqG1zZ62GAiqt2fMWWLSesGU1nAM-HDBjDHVWw2QbLtsqYJTXVvxEkZSyj3NbIxrQyx7NuiKxFKj5U78wAa8VKYvpUbiQ3qs5ssaGOUKTESeSXtoyfKdTEbOCvzAkAi5lyCLduq_YEFWgRE34Z6LMKcb0L6OL1uTS5OyHCyWVuiocyDiBc9ueXL-1d1Ldn6OQyMbXb3kk98xVF04gT08OJcU7BMH3jD7blAREONW3NkAjTX8HYNiiblUj0hHxTP6yCmFVcDQ7WDCAG1Zg2OfOPuWCm8RvNRAHBeaCZtODvfqs7keI7GzXjC6C66ed-Srqt5xesmg2eREIQE7bcpLw4PF1EvAey20ZcTh7gmA8QjaqBtOgfbP7Oc3qCosAdY_jPNBQLZL4mc50odLiJ-QmNMiMrx_14AQcLi7F-p5GKzZZDHvay870a-Zqk6fU0g-spGCH2qPBYSIg4ZAuo3o5t5Pmvox2LeThqYs4BGPg=s225-no" style="width:150px;height:150px;"></a>-->
        <!--</div>-->

        <div class="clearfix"></div>

    </div>
    
    {% block content %}

    {% endblock %}
    <div>
        <footer>
            <h5>We highly appreciate your patience as we continue to develop the PUMA program.
            If you encounter any errors or would like any features included please contact us via email or the GitHub page.</h5>
            <div>
                <ul>
                    <li>
                        <div>
                             <a href="https://github.com/keithgmitchell/PUMA">
                               GitHub
                             </a>
                        </div>
                    </li>
                </ul>
            </div>

        </footer>
    </div>
</body>


<script>
function openNav() {
    document.getElementById("mySidenav").style.width = "250px";
}

function closeNav() {
    document.getElementById("mySidenav").style.width = "0";
}
</script>